.profile-background {
    background: var(--clr-border);
    border-radius: 60px;
    padding: 1rem;
}
.page-direction {
    display: flex;
    flex-direction: column;
}

.upper-info {
    display: flex;
    /* flex-direction: row; */
    margin-bottom: 2rem;
}

.img-side {
    width: 50%;
    text-align: center;
}

.img-side img {
    border-radius: 60px;
    border: 4px solid var(--clr-border);
    object-fit: cover;
    width: 300px;
    height: auto;
}

.primary-info {
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.name-info p {
    display: inline;
    color: var(--clr-white);
    font-size: var(--font-title);
    /* font-weight: 600; */
}

.name-info p:last-child {
    margin-left: 6px;
}

.position-info {
    padding-top: 1rem;
    color: var(--clr-white);
    font-size: var(--font-text);
}

.bottom-info {
    display: flex;
    text-align: center;
    align-items: center;
}
.bottom-info p {
    color: var(--clr-text);
    font-size: var(--font-text);
    margin-bottom: 1rem;
}

.personal-info, .professional-info{
    align-items: center;
    width: 50%;
}

@media screen  and (max-width: 768px){
    .img-side img {
        width: 250px;
    }
}

@media screen  and (max-width: 576px){
    .img-side {
        width: 100%;
        margin-bottom: 2rem;
    }
    .primary-info {
        width: 100%;
    }
    .profile-background {
        border-radius: 20px;
    }
    .upper-info {
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        align-items: center;
        flex-direction: column;
        border-bottom: 2px solid var(--clr-main);
    }
    .bottom-info {
        display: flex;
        flex-direction: column;
    }
    .personal-info, .profesional-info{
        width: 100%;
    }
}