.form-container {
    background-color: white;
    padding: 30px 40px;
    border-radius: 40px;
    width: 400px;
    height: 700px;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px var(--clr-main);
    .form-title {
        margin-bottom: 30px;
        color: var(--clr-main);
    }
    .inputs-container {
        display: flex;
        flex-direction: column;

        input {
            display: block;
            padding: 5px 0px;
            /* border-radius: 5px; */
            border: none;
            margin-bottom: 20px;
            border-bottom: solid 1px var(--clr-main);
            font-size: var(--font-text);
        }
        .form-error {
            color: var(--clr-error);
            margin-bottom: 10px;
            font-size: var(--font-nav);
            text-align: left;
        }
        .btn-submit {
            border: none;
            padding: 10px;
            border-radius: 5px;
            margin-top: 15px;
            cursor: pointer;
            background-color: var(--clr-border);
            color: var(--clr-white);
            font-size: var(--font-text);
        }
        .btn-submit:active {
            transform: scale(.95);
            transition-duration: 200ms;
        }

    }
}
